.ContactData {
    width: 80%;
    margin: 20px auto;
    text-align: center;
    color: black;
    box-sizing: border-box;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    padding: 10px;
    max-width: 800px;
}

.ContactData button {
    margin : 0 auto;
    padding: 10px 20px 20px;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
}

h4 {
    margin-bottom: 30px;
}
